/*
 * jQuery Nivo Slider v3.0.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}/************************************** HEADER **************************************/
.sprite {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent; }

/* USE when dealing with border radius for IE8 and lower
#navigation{
  behavior: url(/Project/Design/1_Website/Main_Layout/css/border-radius.htc);
  border-radius:0 10px 0 0;
}*/
#header {
  box-shadow: 0px 42px 44px -33px black;
  position: relative;
  z-index: 9999; }
  #header #logo-holder {
    margin-top: 26px;
    margin-left: 32px; }
  #header #navigation {
    border-radius: 0 10px 0 0;
    margin-top: 79px;
    margin-right: 29px; }

/************************************** NAVIGATION DEFAULTS **************************************/
#primary_nav {
  list-style: none;
  display: table;
  float: left;
  table-layout: fixed;
  padding: 0; }
  #primary_nav li {
    display: table-cell;
    width: auto;
    border-right: 1px solid #58585B;
    padding-right: 10px; }
    #primary_nav li.last {
      border: none !important;
      padding: 0!important; }
    #primary_nav li a {
      padding: 0 18px;
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      font-weight: normal;
      line-height: 20px; }
    #primary_nav li.active a {
      color: #c49a6c; }
    #primary_nav li:hover a {
      color: #c49a6c; }
/************************************** FOOTER **************************************/
.sprite, #footer #socialPlug #facebook, #footer #socialPlug #twitter, #footer #socialPlug #instagram, #footer #forReserve #sunLogo, #footer #newsletter input[type="submit"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent; }

#footer {
  width: 100%;
  height: 92px;
  background-image: url("/Project/Design/1_Website/Panels/footer/images/footerBg.png");
  background-repeat: "repeat-x";
  color: white;
  text-align: center;
  box-shadow: 0px -42px 44px -33px black;
  position: relative;
  z-index: 99999; }
  #footer #socialPlug {
    margin-left: 23px;
    font-size: 0em; }
    #footer #socialPlug #facebook {
      width: 32px;
      height: 32px;
      background-position: 0px 0px;
      background-image: url("/Project/Design/1_Website/Main_Layout/images/sprites.png"); }
    #footer #socialPlug #twitter {
      margin-left: 5px;
      width: 32px;
      height: 32px;
      background-position: -34px 0px;
      background-image: url("/Project/Design/1_Website/Main_Layout/images/sprites.png"); }
    #footer #socialPlug #instagram {
      margin-left: 5px;
      width: 32px;
      height: 32px;
      background-position: -202px 0px;
      background-image: url("/Project/Design/1_Website/Main_Layout/images/sprites.png"); }
  #footer #forReserve {
    margin-left: 268px; }
    #footer #forReserve > p {
      margin: 0!important; }
    #footer #forReserve #sunLogo {
      vertical-align: middle;
      width: 43px;
      height: 24px;
      background-position: 0px -32px;
      background-image: url("/Project/Design/1_Website/Main_Layout/images/sprites.png"); }
  #footer p {
    font-size: 8px; }
  #footer p:last-child {
    vertical-align: -24%;
    display: inline-block;
    margin: 0; }
  #footer #newsletter {
    width: 178px;
    right: 5px;
    margin-right: 20px; }
    #footer #newsletter label {
      font-style: italic;
      font-size: 11px!important; }
    #footer #newsletter label[class="error"] {
      position: absolute;
      left: 0;
      color: #ed1c24;
      top: 39px;
      color: #ed1c24; }
    #footer #newsletter input[type="text"] {
      font-size: 11px;
      padding: 2px;
      background-color: #97999c;
      vertical-align: 4px;
      width: 151px; }
    #footer #newsletter input::-webkit-input-placeholder, #footer #newsletter textarea::-webkit-input-placeholder {
      color: #4e4e50;
      font-style: italic; }
    #footer #newsletter input:-moz-placeholder, #footer #newsletter textarea:-moz-placeholder {
      color: #4e4e50;
      font-style: italic; }
    #footer #newsletter input[type="submit"] {
      text-indent: -999px;
      line-height: 32px;
      width: 19px;
      height: 18px;
      background-position: -66px 0px;
      background-image: url("/Project/Design/1_Website/Main_Layout/images/sprites.png"); }
    #footer #newsletter #subcriptionSent {
      position: absolute;
      display: none;
      font-size: 10px;
      top: 22px; }
/* =============================================================================
   Typography
   ========================================================================== */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
   
body { font-family: "Helvetica Neue LT Std",tahoma,verdana,arial,sans-serif; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

strong, th, thead td { font-weight: bold; }

cite, em, dfn { font-style: italic; }

del { text-decoration: line-through; color: #666; }

ins, dfn { border-bottom: 1px solid #ccc; }

abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }

a abbr, a acronym { border: none; }

abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px dotted #ccc; }

/* QUOTES */
blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }

blockquote *:first-child:before { content: "\201C"; }

blockquote *:first-child:after { content: "\201D"; }

p {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
  word-wrap: break-word;
  font-family: 'Arial';
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h1 small {
  font-size: 18px;
}
h2 small {
  font-size: 16px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 14px;
}
h6 {
  font-size: 11px;
  color: #999999;
}
h6 {
  line-height: 18px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* Font Sizes */
.fs-xxs 	{ font-size:8px;  }
.fs-xs  	{ font-size:10px; }
.fs-s  		{ font-size:12px; }
.fs-m  		{ font-size:14px; }
.fs-b  		{ font-size:16px; }
.fs-l  		{ font-size:18px; }
.fs-xl 		{ font-size:20px; }
.fs-xxl		{ font-size:22px; }

/* Font size Increase / Decrease
 * To increase font size by 1px follow this markup
 * 	eg. <p class="fs-s"><span class="fs-p1"></span></p> -> this results to a fonts size of 13px
 * 		<p class="fs-s"><span class="fs-x2"></span></p> -> results to a font size of 24px
 **/
.fs-p1		{ font-size:1.05em; } /*plus 1px to parent*/
.fs-m1		{ font-size:0.95em; } /*minus 1px to parent*/
.fs-x2		{ font-size:2em; }	  /*times 2 to parent*/
.fs-div2	{ font-size:0.5em; }	  /*devide parent by 2*/

/* Font Weight */
.fwB	{ font-weight:bold; 	}
.fwN 	{ font-weight:normal;	}

/* Font Color */
/* depends what are the colors are needed */
.fcB		{ color:black; }
.fcW		{ color:white; }
.fcRed		{ color:red; }
.fcGray		{ color:gray; }
.fcBlue		{ color:blue; }

.fs-9 		{ font-size:9px!important;  }
.fs-23 		{ font-size:23px!important;  }
.fs-15 		{ font-size:15px!important;  }

@font-face {
				font-family: 'BrauerNeue-Bold';
				src: url('/Project/Design/1_Website/Main_Layout/fonts/brauerneue-bold.eot');
				src: url('/Project/Design/1_Website/Main_Layout/fonts/brauerneue-bold.eot?#iefix') format('embedded-opentype'),
						 url('/Project/Design/1_Website/Main_Layout/fonts/brauerneue-bold.woff') format('woff'),
						 url('/Project/Design/1_Website/Main_Layout/fonts/brauerneue-bold.ttf') format('truetype'),
						 url('/Project/Design/1_Website/Main_Layout/fonts/brauerneue-bold.svg#brauerneue-bold') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		/* DOM Alignment */
.fleft		{ float:left;  			}
.fright		{ float:right;			}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Text alignments */
.align_l	{ text-align: left;		}
.align_r	{ text-align: right; 	}
.align_c	{ text-align: center; 	}
.align_j	{ text-align: justify;	}


.wAuto		{ width: auto; }
.hAuto		{ height:auto; overflow:auto; }

.w100		{ width: 100% !important; }

/* Positioning */

.posAbs	{ position:absolute; }
.posRel	{ position:relative; }
.posFix	{ position:fixed; 	 }

/*Display*/
.hide 		{ display:none; }
.show 		{ display:block; }

/* Hide/Show visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
.visible   { visibility: visible; }

.pointer 	{ cursor:pointer; }
.block 		{ display:table-cell; }

/* Margins and Paddings */

.mAuto	{ margin: 0 auto; }

/* Margin All Side */
.mAxs	{ margin:5px;  }
.mAs	{ margin:10px; }
.mAm	{ margin:15px; }
.mAl	{ margin:20px; }
.mAxl	{ margin:30px; }
.mAxxl	{ margin:50px; }

/* Margin Horizonal */
.mHxs	{ margin:left 5px; margin-right:5px; }
.mHs	{ margin:left 10px; margin-right:10px; }
.mHm	{ margin:left 15px; margin-right:15px; }
.mHl	{ margin:left 20px; margin-right:20px; }
.mHxl	{ margin:left 30px; margin-right:30px; }
.mHxxl	{ margin:left 50px; margin-right:50px; }

/* Margin Vertical */
.mVxs	{ margin-top:5px; margin-bottom:5px;  }
.mVs	{ margin-top:10px; margin-bottom:10px; }
.mVm	{ margin-top:15px; margin-bottom:15px; }
.mVl	{ margin-top:20px; margin-bottom:20px; }
.mVxl	{ margin-top:30px; margin-bottom:30px; }
.mVxxl	{ margin-top:50px; margin-bottom:50px; }

/* Margin Left */
.mLxs	{ margin-left:5px;  }
.mLs	{ margin-left:10px; }
.mLm	{ margin-left:15px; }
.mLl	{ margin-left:20px; }
.mLxl	{ margin-left:30px; }
.mLxxl	{ margin-left:50px; }

/* Margin Right */
.mRxs	{ margin-right:5px	}
.mRs	{ margin-right:10px	}
.mRm	{ margin-right:15px	}
.mRl	{ margin-right:20px	}
.mRxl	{ margin-right:30px	}
.mRxxl	{ margin-right:50px	}

/* Margin Top */
.mTxs	{ margin-top:5px	}
.mTs	{ margin-top:10px	}
.mTm	{ margin-top:15px	}
.mTl	{ margin-top:20px	}
.mTxl	{ margin-top:30px	}
.mTxxl	{ margin-top:50px	}

/* Margin Bottom */
.mBxs	{ margin-bottom:5px	 }
.mBs	{ margin-bottom:10px }
.mBm	{ margin-bottom:15px }
.mBl	{ margin-bottom:20px }
.mBxl	{ margin-bottom:30px }
.mBxxl	{ margin-bottom:50px }


/* Padding */

/* Padding All Side */
.pAxs	{ padding:5px;  }
.pAs	{ padding:10px; }
.pAm	{ padding:15px; }
.pAl	{ padding:20px; }
.pAxl	{ padding:30px; }
.pAxxl	{ padding:50px; }

/* Padding Horizonal */
.pHxs	{ padding-left:5px; padding-right:5px; }
.pHs	{ padding-left:10px; padding-right:10px; }
.pHm	{ padding-left:15px; padding-right:15px; }
.pHl	{ padding-left:20px; padding-right:20px; }
.pHxl	{ padding-left:30px; padding-right:30px; }
.pHxxl	{ padding-left:50px; padding-right:50px; }

/* Padding Vertical */
.pVxs	{ padding-top:5px; padding-bottom:5px;  }
.pVs	{ padding-top:10px; padding-bottom:10px; }
.pVm	{ padding-top:15px; padding-bottom:15px; }
.pVl	{ padding-top:20px; padding-bottom:20px; }
.pVxl	{ padding-top:30px; padding-bottom:30px; }
.pVxxl	{ padding-top:50px; padding-bottom:50px; }

/* Padding Left */
.pLxs	{ padding-left:5px;  }
.pLs	{ padding-left:10px; }
.pLm	{ padding-left:15px; }
.pLl	{ padding-left:20px; }
.pLxl	{ padding-left:30px; }
.pLxxl	{ padding-left:50px; }

/* Padding Right */
.pRxs	{ padding-right:5px;	}
.pRs	{ padding-right:10px;	}
.pRm	{ padding-right:15px;	}
.pRl	{ padding-right:20px;	}
.pRxl	{ padding-right:30px;	}
.pRxxl	{ padding-right:50px;	}

/* Padding Top */
.pTxs	{ padding-top:5px;	}
.pTs	{ padding-top:10px;	}
.pTm	{ padding-top:15px;	}
.pTl	{ padding-top:20px;	}
.pTxl	{ padding-top:30px;	}
.pTxxl	{ padding-top:50px;	}

/* Padding Bottom */
.pBxs	{ padding-bottom:5px;  }
.pBs	{ padding-bottom:10px; }
.pBm	{ padding-bottom:15px; }
.pBl	{ padding-bottom:20px; }
.pBxl	{ padding-bottom:30px; }
.pBxxl	{ padding-bottom:50px; }			/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
 

html, button, input, select, textarea { font-family: arial; color: #222; }

body { margin: 0; font-size: 1em; }
/*
 * Removes border and padding widths from container
 */
* { box-sizing:border-box !important; -moz-box-sizing: border-box !important;	-webkit-box-sizing: border-box !important;	-o-box-sizing: border-box !important;	}

* { border:none; padding:0; margin:0;}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #36A9E1; color: #fff; text-shadow: none; }
::selection { background: #36A9E1; color: #fff; text-shadow: none; }
::focus { outline-color:#A11D24;}

/* =============================================================================
   Links
   ========================================================================== */

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */

}
input[type="image"] {
  border: 0;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #ffffff;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
input[type="file"] {
  line-height: 18px \9;
}
select {
  width: 220px;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}

input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eeeeee;
  border-color: #ddd;
  cursor: not-allowed;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { position: relative; top: 0; width: 820px; left: 50%; margin-left: -410px; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; color: #878787;}
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
/************************************** MAIN **************************************/
.sprite {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent; }

body {
  background-color: #292526; }

#wrapper {
  width: 979px; }
  #wrapper div[id*='content_wrapper'] {
    min-height: 300px; }

#noScript {
  position: relative;
  width: 988px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0; }
  #noScript a {
    color: #0076C0; }

.leftPan {
  position: absolute;
  margin-left: 18px;
  height: 374px;
  padding: 26px;
  width: 247px;
  z-index: 99;
  text-align: center;
  color: white !important;
  background-size: contain;
  background-image: url("/Project/Design/1_Website/Main_Layout/images/banner.png"); }
  .leftPan p {
    margin: 0!important; }
  .leftPan > hr {
    width: 70%;
    margin: 10px auto; }

.backgrounds {
  height: 489px;
  width: 978px;
  display: inline-block; }

.noOpacity {
  padding: 25px 25px 25px 37px; }
  .noOpacity h1, .noOpacity h2 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: normal;
    color: #f7931d; }
  .noOpacity p {
    color: white;
    font-size: 11px; }

.opaqueWrap {
  background-color: black;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90); }
