/** CONTACT CSS ******************************************************************/
.sprite, .feedback input[type="submit"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent; }

.reservation {
  width: 334px;
  height: 291px;
  left: 15px;
  top: 32px; }
  .reservation p {
    font-size: 18px;
    text-align: center; }
  .reservation hr {
    width: 70%;
    margin: 32px auto; }
  .reservation div p {
    color: #faf39b; }
    .reservation div p.fs-23 {
      margin: 0!important; }

.feedback {
  width: 334px;
  height: 446px;
  right: 15px;
  top: 32px;
  text-align: center; }
  .feedback p {
    line-height: 26px; }
  .feedback hr {
    width: 70%;
    margin: 32px auto; }
  .feedback input[type="text"], .feedback textarea {
    margin: 5px;
    width: 261px;
    padding: 2px;
    background-color: #d7d5d5; }
  .feedback textarea {
    height: 143px;
    resize: none; }
  .feedback input::-webkit-input-placeholder, .feedback textarea::-webkit-input-placeholder {
    color: #604c3b;
    font-family: 'Times New Roman';
    font-style: italic; }
  .feedback label[class="error"] {
    position: absolute;
    font-size: 10px;
    left: 42px;
    top: 175px;
    color: #ed1c24; }
  .feedback input[type="submit"] {
    margin-right: 4px;
    float: right;
    font-size: 0;
    width: 62px;
    height: 24px;
    background-position: -139px -1px;
    background-image: url("/Project/Design/1_Website/Main_Layout/images/sprites.png"); }
